*{
  margin:0;
  padding:0;
}
html{
  min-height:100%;
}
body{
  background:linear-gradient(#AC68E9,#5F65D9);
  font-family:Kumbh Sans;
}
.content-container{
  background-color:#F2F2F2;
  background-image:url("images/bg-pattern-desktop.svg");
  background-repeat:no-repeat;
  background-position:top -250px left -450px;
  background-size:800px 800px;
  border-radius:20px;
  margin:90px auto;
  height:500px;
  width:900px;
}
.image-container{
  background-image:url("images/illustration-woman-online-desktop.svg");
  background-repeat:no-repeat;
  background-position:bottom 100px left -80px;
  float:left;
  height:500px;
  width:450px;
}
.box-image{
  background-image:url("images/illustration-box-desktop.svg");
  background-repeat:no-repeat;
  background-position:center;
  position:absolute;
  top:270px;
  left:50px;
  height:200px;
  width:200px;
}
.text-container{
  float:right;
  padding-right:60px;
}
.text-container h1{
  padding:20px;
}
.question,.anwser{
  font-size:14px;
  margin:10px;
  width:350px;
}
.question{
  color:#4A4B5E;
}
.question:hover{
  color:#F47C57;
}
.anwser{
  color:#787878;
  display:none;
}
hr{
  border-top:1px solid #E7E7E9;
  width:350px;
}
.arrow-down{
  float:right;
}
